<div class="container">
  <p>Your secret link to edit your article:
    <%= link_to "#{@article.title}", { action: "edit" } %>
  </p>
  <p> Here is the link to what the public sees:
    <a class="button" href="<%= "/articles/#{@article.id}" %>"><%=@article.title%></a>
  </p>
</div>
